# This is a basic workflow to help you get started with Actions

name: Update Zen Browser deb package and Upload in Release page

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
 # push:
 #   branches: [ "main" ]
 # pull_request:
 #   branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Make .deb package 
        run: bash make.sh

      # Runs a set of commands using the runners shell
      - name: Get Version of Zen Browser and upload package in Release page using Github CLI
        run: |
          VERSION=$(cat zen/application.ini | grep Version= | head -1 | cut -f2 -d"=")
          gh release create $VERSION --title "Release Build - $VERSION" --notes "Deb package of Zen Browser $VERSION" zen.linux-x86_64.deb --prerelease --draft
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}      
